header {
    border: 2px solid #fdf1eb;
    float: right;
    width: 1116px;
    height: 100px;
    background: #fdf1eb;
    font-size: 8px;
    display: flex;
}

/* os tres primeiros titulos */
#title-header {
    padding-bottom: 10px;
}

#title-um {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #725c5c;
}

#title-dois {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height */

    color: #725c5c;
}

#title-tres {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #725c5c;
}

#title-quatro {
    position: absolute;
    width: 1146px;
    height: 68px;
    left: 830px;
    top: 50px;
}

/*titulo onde fica o email*/
#title-cinco {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */

    text-align: right;

    color: #333333;
}

/* o titulo PT BR */
#idioma {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    margin-left: 225px;
}

/* Login  */
#login {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    margin-left: 200px;
}

/*Conteudo lateral*/
nav {
    border: 2px solid rgb(216, 216, 216);
    width: 15.5%;
    height: 1850px;
    left: 0%;
    padding: 0%;
}

/*Slaca 2019*/
#title-nav {
    border: 1px solid #ee7a3a;
    color: white;
    font-family: sans-serif;
    background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
}

#img {
    width: 80%;
}

#img-dois {
    border-radius: 2.5em;
    position: absolute;
    left: 92.28%;
    right: 2.53%;
    top: 9.94%;
    bottom: 27.94%;
}

#img-tres {
    position: absolute;
    width: 783px;
    height: 439px;
    left: 230px;
    top: 243px;

    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
}

#img-quatro {
    position: absolute;
    left: 230px;
    right: 4.01%;
    top: 1820px;
    bottom: 0%;
}

/* Links laterais*/
#link-um {
    text-decoration: none;
    color: #636262;
}

#link-um:hover {
    color: #000000;
}

/*Comites*/
#link-dois {
    text-decoration: none;
    color: #636262;
}

#link-dois:hover {
    color: #000000;
}

/*Autores*/
#link-tres {
    text-decoration: none;
    color: #636262;
}

#link-tres:hover {
    color: #000000;
}

/*Eixos tematicos*/
#link-quatro {
    text-decoration: none;
    color: #636262;
}

#link-quatro:hover {
    color: #000000;
}

/*Trabalhos*/
#link-cinco {
    text-decoration: none;
    color: #636262;
}

#link-cinco:hover {
    color: #000000;
}

/*contatos*/
#link-seis {
    text-decoration: none;
    color: #636262;
    border-radius: 0.3em;
    width: 100%;
    height: 5%;
    bottom: 5.71%;
}

#link-seis:hover {
    color: #000000;
    cursor: pointer;
}

#title-section {
    /* título do trabalho */

    position: absolute;
    height: 54px;
    left: 250px;
    right: 273px;
    top: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */
    letter-spacing: 0.05em;

    color: #ed7839;
}

/*botoes e o paragrafo*/

#buttons {
    /* citação */

    position: absolute;
    height: 25px;
    left: 820px;
    right: 40px;
    top: 123px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    text-align: right;
    letter-spacing: 0.05em;

    color: #ed7839;
}

#btn-1 {
    border-radius: 4px;
    height: 30px;
    width: 20%;
    background-color: #ed7839;
    cursor: pointer;
    color: white;
}

#btn-2 {
    border-radius: 0.3em;
    height: 30px;
    width: 8%;
    background-color: #ed7839;
    cursor: pointer;
    color: white;
}

#btn-3 {
    border-radius: 0.3em;
    height: 30px;
    width: 8%;
    background-color: #ed7839;
    cursor: pointer;
    color: white;
}

/*parte dos detalhes*/

#detalhes {
    position: absolute;
    width: 242px;
    height: 45px;
    left: 1076px;
    top: 193px;

    background: #fdf1eb;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

#detalhes-title {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    top: 0px;
    bottom: 100px;
}

/*Resumo*/
#resumo {
    position: absolute;
    width: 1058px;
    height: 45px;
    left: 230px;
    top: 742px;

    background: #fdf1eb;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

#resumo-par {
    position: absolute;
    width: 1028px;
    height: 114px;
    left: 230px;
    top: 830px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #5c5c5c;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#link-resumo {
    color: orange;
    text-decoration: none;
}

/*discussões*/

#discucao {
    position: absolute;
    width: 1058px;
    height: 45px;
    left: 230px;
    top: 991px;

    background: #fdf1eb;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

/*paragrafos*/
#p-discucao-um {
    left: 30.64%;
    right: 29.51%;
    top: 59.41%;
    bottom: 39%;
    justify-content: center;
    align-items: center;
    display: flex;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ed7839;
}

#p-discucao-dois {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;
}

/*botoes*/
#btn-discucao {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ed7839;
    cursor: pointer;
    color: white;
    border-radius: 0.3em;
    height: 30px;
    width: 10%;
    margin: 0 auto;
}

/*comentarios da pagina*/
#coment {
    position: absolute;
    left: 230px;
    right: 1.51%;
    top: 1200px;
    bottom: 13.02%;

    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

#coment-um {
    position: absolute;
    left: 230px;
    right: 1.51%;
    top: 1500px;
    bottom: 13.02%;

    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

#coment-par {
    left: 3.7%;
    right: 3.7%;
    top: 80.97%;
    bottom: 16.5%;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #4d4d4d;
}

#title-coment {
    left: 3.7%;
    right: 71.09%;
    top: 89.44%;
    bottom: 9.12%;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    /* identical to box height */

    color: #ed7839;
}

#btn-coment {
    left: 6.04%;
    right: 92.63%;
    top: 96.45%;
    bottom: 2.53%;
    margin: 5;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    height: 25px;
    width: 3%;
    /* identical to box height */

    background-color: #ed7839;
    color: #ffffff;
    border-radius: 0.3em;
    cursor: pointer;
}

#coment-par-dois {
    left: 9.44%;
    right: 87.82%;
    top: 96.24%;
    bottom: 2.39%;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    color: #757575;
}
